$def with( content )
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Job-O-Rama Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Job-O-Rama example">
    <meta name="author" content="Luis Cabellos">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* space for topbar */ }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/favicon.ico">
  
  </head>

  <body>

    <!-- Le javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Job-O-Rama</a>
          <div>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/about#contact">Contact</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    $:content

  </body>
</html>
